
.Vcenter{display: flex!important;
    align-content: center!important;
    align-items: center!important;
}

.VHcenter {
    display: flex!important;
    align-content: justify!important;
    align-items: center!important;
    text-align: center!important;
}